/*
0 - 600px: phone
600 - 900: tablet portrait
900 - 1200px: tablet landscape
1200 - 1800px: desktop
1800 - 2560px: desktop HD
2560 et +: desktop 4K
*/
/*
Argument $device choice:
tab-port : definit la structure tablette portrait
tab-port-big
tab-land
desktop
desktophd
desktop4k
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homenaje&display=swap");
html {
  font-size: 16px;
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media (orientation: portrait) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 3000px) {
  html {
    font-size: 40px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  overflow: hidden;
}

#bloc-page {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#bloc-page ul {
  list-style: none;
}

.titre-section h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Homenaje', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .titre-section h2 {
    font-size: 2.5rem;
  }
}

.titre-section p {
  text-align: center;
  color: #5f5f5f;
  font-size: 1.6rem;
  margin-top: 4rem;
}

header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

header.scroll {
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.9);
}

header.scroll .header__top {
  opacity: 0;
  padding: 0 5rem;
  height: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header.scroll .header__top ul {
  display: none;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  header.scroll .header__top {
    padding: 0;
  }
}

header.scroll nav {
  background: #000000;
  -webkit-transition: 1s;
  transition: 1s;
}

header.scroll nav img {
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 1s;
  transition: 1s;
}

header.scroll nav li a {
  color: #a7a7a7;
}

header.scroll nav li.active {
  border-bottom: 6px solid #F88B6A;
}

header.scroll nav li.active a {
  color: #FFFFFF;
}

header.scroll nav li.active:hover a {
  color: #FFFFFF;
}

header.scroll nav li:hover a {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__top {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  background: #1A2D2E;
}

@media screen and (max-width: 1023px) {
  .header__top {
    padding: 0.4rem 1rem;
  }
}

@media (orientation: portrait) {
  .header__top {
    padding: 0.4rem 1rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .header__top {
    padding: 0.4rem 0.5rem;
  }
}

.header__top .header__top__coordonnee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  color: #d8d8d8;
}

.header__top .header__top__coordonnee li:nth-child(n+2) {
  padding-left: 2rem;
  margin-left: 2rem;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .header__top .header__top__coordonnee li:nth-child(n+2) {
    padding-left: 0.2rem;
    margin-left: 0.2rem;
  }
}

.header__top .header__top__coordonnee li:nth-child(1n+2) {
  border-left: 1px solid #a7a7a7;
}

.header__top .header__top__coordonnee li a {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__top .header__top__coordonnee li:hover a {
  color: #F88B6A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__top .header__top__icones {
  display: block;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .header__top .header__top__icones {
    display: none;
  }
}

.header__top .header__top__icones li a {
  color: #FFFFFF;
  padding: 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__top .header__top__icones li:hover a {
  color: #F88B6A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__top .header__top__icones li:first-child a {
  padding: 0 0.1rem;
}

nav {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Homenaje', sans-serif;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  nav {
    font-size: 1.2rem;
  }
}

nav img {
  position: absolute;
  left: 2rem;
  top: 50%;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  height: 80%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 1023px) {
  nav img {
    display: none;
  }
}

@media (orientation: portrait) {
  nav img {
    display: none;
  }
}

nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
}

nav ul li:hover a {
  color: #1A2D2E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul li.active {
  position: relative;
}

nav ul li.active a {
  color: #1A2D2E;
}

nav ul li {
  margin: 0;
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-transition: 1s;
  transition: 1s;
  border-bottom: 6px solid transparent;
}

nav ul li a {
  display: block;
  padding: 1rem 2rem;
  color: #d8d8d8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  nav ul li a {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  nav ul li a {
    padding: 1rem 0.2rem;
  }
}

#home {
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 6rem 0 4rem 0;
}

#home #home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0.4))), url("../images/fond5.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4)), url("../images/fond5.jpg");
  background-position: 50% 50%;
  -webkit-animation: back-rotation 30s linear infinite;
          animation: back-rotation 30s linear infinite;
}

#home .home__bloc {
  height: 100%;
  width: 80%;
  position: relative;
}

#home .home__bloc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15%;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #home .home__bloc__row {
    height: 10%;
  }
}

#home .home__bloc__row div {
  height: 100%;
}

#home .home__bloc__row__left {
  width: 30%;
  border-bottom: 1px solid #1A2D2E;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #home .home__bloc__row__left {
    width: 20%;
  }
}

#home .home__bloc__row__right {
  width: 30%;
  border-bottom: 1px solid #1A2D2E;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #home .home__bloc__row__right {
    width: 20%;
  }
}

#home .home__bloc__row__center {
  width: 30%;
  position: relative;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #home .home__bloc__row__center {
    width: 60%;
  }
}

#home .home__bloc__row__center img {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 60%;
}

@media screen and (max-width: 1023px) {
  #home .home__bloc__row__center img {
    width: 90%;
  }
}

@media (orientation: portrait) {
  #home .home__bloc__row__center img {
    width: 90%;
  }
}

#home .home__bloc__row2 {
  height: 85%;
  border-bottom: 1px solid #1A2D2E;
  border-right: 1px solid #1A2D2E;
  border-left: 1px solid #1A2D2E;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #home .home__bloc__row2 {
    height: 90%;
  }
}

#home .home__bloc__row2 h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: gray;
}

#home .home__bloc__row2 h1 span {
  font-size: 4rem;
  color: #1A2D2E;
  font-family: 'Homenaje', sans-serif;
}

#home .home__bloc__row2 h1 a {
  color: #5f5f5f;
}

#home .home__bloc__row2__icones {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#home .home__bloc__row2__icones li {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

#home .home__bloc__row2__icones li a {
  font-size: 1.5rem;
}

#home .home__bloc__row2__icones li:nth-child(2) {
  margin-top: 1rem;
}

#home .home__bloc__row2__icones__github {
  border: 1px solid #24292F;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .home__bloc__row2__icones__github a {
  color: #24292F;
}

#home .home__bloc__row2__icones__github:hover {
  background: #24292F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .home__bloc__row2__icones__github:hover a {
  color: #FFFFFF;
}

#home .home__bloc__row2__icones__linkedin {
  border: 1px solid #0A66C2;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .home__bloc__row2__icones__linkedin a {
  color: #0A66C2;
}

#home .home__bloc__row2__icones__linkedin:hover {
  background: #0A66C2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .home__bloc__row2__icones__linkedin:hover a {
  color: #FFFFFF;
}

#home .home__bloc__chevron {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  color: #1A2D2E;
  border: 1px solid #1A2D2E;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .home__bloc__chevron i {
  display: block;
}

#home .home__bloc__chevron:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #1A2D2E;
  color: #FFFFFF;
}

@-webkit-keyframes back-rotation {
  0% {
    background-position: 50% 40%;
  }
  25% {
    background-position: 60% 50%;
  }
  50% {
    background-position: 50% 60%;
  }
  75% {
    background-position: 40% 50%;
  }
  100% {
    background-position: 50% 40%;
  }
}

@keyframes back-rotation {
  0% {
    background-position: 50% 40%;
  }
  25% {
    background-position: 60% 50%;
  }
  50% {
    background-position: 50% 60%;
  }
  75% {
    background-position: 40% 50%;
  }
  100% {
    background-position: 50% 40%;
  }
}

#services {
  min-height: 100vh;
  padding: 2rem 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#services h2:after {
  position: absolute;
  font-size: 6rem;
  height: 5rem;
  top: -1rem;
  width: 50%;
  left: 50%;
  text-align: left;
  content: 'MES SERVICES';
  z-index: -5;
  color: #d8d8d8;
}

@media screen and (max-width: 1023px) {
  #services h2:after {
    font-size: 5rem;
  }
}

@media (orientation: portrait) {
  #services h2:after {
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #services h2:after {
    font-size: 4rem;
    top: -0.75rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #services h2:after {
    content: 'SERVICES';
  }
}

.conteneur-carte-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 10% 2rem 10%;
  margin: 2rem 0 0 0;
  background: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

@media screen and (max-width: 1440px) {
  .conteneur-carte-service {
    padding: 1rem 2% 2rem 2%;
  }
}

.conteneur-carte-service__2 {
  padding-bottom: 2rem;
}

.conteneur-carte-service h3 {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 0 1rem 0;
  margin-bottom: 2rem;
  font-family: 'Homenaje', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.conteneur-carte-service h3:after {
  content: '';
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  width: 10%;
  height: 0.3rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #006446;
}

.carte-service {
  width: 23%;
  min-height: 20rem;
  position: relative;
  padding: 1rem 0 2rem 0;
  background: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  z-index: 1;
  margin-top: 2rem;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1023px) {
  .carte-service {
    width: 45%;
  }
}

@media (orientation: portrait) {
  .carte-service {
    width: 45%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .carte-service {
    width: 80%;
  }
}

.carte-service__icone {
  height: 10rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.carte-service__icone img {
  height: 100%;
}

@media screen and (max-width: 1440px) {
  .carte-service__icone img {
    height: 90%;
  }
}

.carte-service h4 {
  text-align: center;
  color: #3B3B3B;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin: 1rem 1rem 0 1rem;
  text-transform: uppercase;
  font-family: 'Homenaje', sans-serif;
}

.carte-service__texte {
  padding: 1rem;
  color: #5f5f5f;
  text-align: center;
}

.carte-service ul {
  color: #5f5f5f;
  padding: 2rem 1rem 0 1rem;
  text-align: center;
}

.carte-service ul li {
  list-style: none;
}

.carte-service ul__titre {
  color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
}

.carte-service ul__description {
  color: #d8d8d8;
  padding: 0 1rem;
}

.appear {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

#responsive {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #FFFFFF;
  border-top: 1px solid #F88B6A;
  border-bottom: 1px solid #F88B6A;
}

@media screen and (max-width: 1023px) {
  #responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (orientation: portrait) {
  #responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#responsive .responsive__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#responsive .responsive__left img {
  width: 90%;
}

@media screen and (max-width: 1440px) {
  #responsive .responsive__left img {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  #responsive .responsive__left img {
    width: 60%;
  }
}

@media (orientation: portrait) {
  #responsive .responsive__left img {
    width: 60%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #responsive .responsive__left img {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  #responsive .responsive__left {
    width: 100%;
  }
}

@media (orientation: portrait) {
  #responsive .responsive__left {
    width: 100%;
  }
}

#responsive .responsive__right {
  width: 50%;
  color: #3B3B3B;
  padding: 2rem;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  #responsive .responsive__right {
    width: 100%;
  }
}

@media (orientation: portrait) {
  #responsive .responsive__right {
    width: 100%;
  }
}

#responsive .responsive__right h3 {
  padding: 1rem 0;
  font-family: 'Audiowide', cursive;
  font-size: 3rem;
  position: relative;
  margin-bottom: 3rem;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #responsive .responsive__right h3 {
    font-size: 2rem;
  }
}

#responsive .responsive__right h3:after {
  content: '';
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  width: 20%;
  height: 0.4rem;
  background: #F88B6A;
}

#responsive .responsive__right p {
  text-align: justify;
  color: #5f5f5f;
}

#responsive .responsive__back {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1%;
  height: 20%;
  background: #d8d8d8;
  -webkit-clip-path: polygon(0 0, 50% 0, 65% 100%, 0% 100%);
          clip-path: polygon(0 0, 50% 0, 65% 100%, 0% 100%);
  z-index: 0;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #responsive .responsive__back {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  #responsive .responsive__back {
    height: 28%;
  }
}

@media screen and (max-width: 1023px) {
  #responsive .responsive__back {
    height: 5rem;
    bottom: 50%;
    -webkit-clip-path: polygon(0 0, 70% 0, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 70% 0, 85% 100%, 0% 100%);
  }
}

@media (orientation: portrait) {
  #responsive .responsive__back {
    height: 5rem;
    bottom: 50%;
    -webkit-clip-path: polygon(0 0, 70% 0, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 70% 0, 85% 100%, 0% 100%);
  }
}

.appear2 {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  opacity: 1 !important;
  -webkit-transition: 1s !important;
  transition: 1s !important;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #e7e7e7;
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: #080d0d;
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: #6aa7ab;
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: fade(white, 30%);
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-3000px) scale(1.2) rotate(600deg);
            transform: translateY(-3000px) scale(1.2) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-3000px) scale(1.5) rotate(600deg);
            transform: translateY(-3000px) scale(1.5) rotate(600deg);
  }
}

#tarifs {
  padding: 2rem 0;
  background: #F3F3F3;
}

#tarifs h2:after {
  position: absolute;
  font-size: 6rem;
  height: 5rem;
  top: -1rem;
  width: 50%;
  left: 50%;
  text-align: left;
  content: 'TARIFS';
  z-index: -1;
  color: #d8d8d8;
}

@media screen and (max-width: 1023px) {
  #tarifs h2:after {
    font-size: 5rem;
  }
}

@media (orientation: portrait) {
  #tarifs h2:after {
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #tarifs h2:after {
    font-size: 4rem;
    top: -0.75rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #tarifs {
    padding: 2rem 3%;
  }
}

.conteneur-carte-tarif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 8% 0 8%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1023px) {
  .conteneur-carte-tarif {
    margin: 0;
  }
}

@media (orientation: portrait) {
  .conteneur-carte-tarif {
    margin: 0;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .conteneur-carte-tarif {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.carte-tarif {
  width: 26%;
  text-align: center;
  -webkit-box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1440px) {
  .carte-tarif {
    width: 31%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .carte-tarif {
    width: 90%;
    margin-top: 1rem;
  }
}

.carte-tarif--1 {
  background: #1A2D2E;
}

.carte-tarif--1 h3 {
  color: #FFFFFF;
}

.carte-tarif--1 .carte-tarif__prix {
  color: #FFFFFF;
}

.carte-tarif--1 .carte-tarif__apd {
  color: #d8d8d8;
}

.carte-tarif--1 .carte-tarif__liste li:nth-child(2n) {
  background: #233d3e;
  color: #d8d8d8;
}

.carte-tarif--2 {
  background: #006446;
}

.carte-tarif--2 h3 {
  color: #FFFFFF;
}

.carte-tarif--2 .carte-tarif__prix {
  color: #FFFFFF;
}

.carte-tarif--2 .carte-tarif__apd {
  color: #d8d8d8;
}

.carte-tarif--2 .carte-tarif__liste li:nth-child(2n) {
  background: #007e58;
  color: #F3F3F3;
}

.carte-tarif--3 {
  background: #F88B6A;
}

.carte-tarif--3 h3 {
  color: #000000;
}

.carte-tarif--3 .carte-tarif__prix {
  color: #000000;
}

.carte-tarif--3 .carte-tarif__apd {
  color: #3B3B3B;
}

.carte-tarif--3 .carte-tarif__liste li {
  color: #3B3B3B;
}

.carte-tarif--3 .carte-tarif__liste li:nth-child(2n+1) {
  background: #f77852;
  color: #000000;
}

.carte-tarif h3 {
  position: relative;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 2rem;
}

@media screen and (max-width: 1440px) {
  .carte-tarif h3 {
    padding: 1rem 1rem;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1023px) {
  .carte-tarif h3 {
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) {
  .carte-tarif h3 {
    font-size: 1.5rem;
  }
}

.carte-tarif h3:after {
  content: '';
  position: absolute;
  bottom: -0.6rem;
  left: 50%;
  width: 40%;
  height: 0.3rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #d8d8d8;
}

.carte-tarif .carte-tarif__apd {
  margin: 2rem 0 0 0;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.carte-tarif .carte-tarif__prix {
  position: relative;
  font-size: 4rem;
  font-weight: bolder;
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
}

.carte-tarif .carte-tarif__prix:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20%;
  height: 0.3rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #d8d8d8;
}

.carte-tarif__liste {
  padding: 0;
}

.carte-tarif__liste li {
  padding: 0.5rem 2rem;
  color: #d8d8d8;
}

.carte-tarif__bouton {
  display: block;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.1rem;
  background: #d8d8d8;
}

.carte-tarif__bouton:hover {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.carte-tarif__bouton--1:hover {
  background-color: #111d1e;
}

.carte-tarif__bouton--2:hover {
  background-color: #004b34;
}

.carte-tarif__bouton--3:hover {
  background-color: #f66539;
}

.tarifs__texte--petit {
  color: #5f5f5f;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0 2rem 0;
}

.tarif__contact {
  display: block;
  width: 80%;
  padding: 1rem 3rem;
  background: #006446;
  text-align: center;
  color: #FFFFFF;
  border: 3px solid #006446;
  font-size: 1.5rem;
  margin: 2rem auto;
  text-transform: uppercase;
  -webkit-box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1023px) {
  .tarif__contact {
    font-size: 1.2rem;
  }
}

@media (orientation: portrait) {
  .tarif__contact {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .tarif__contact {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

.tarif__contact:hover {
  background: #00553b;
  -webkit-box-shadow: 0.4rem 0.5rem 0.6rem rgba(0, 0, 0, 0.45);
          box-shadow: 0.4rem 0.5rem 0.6rem rgba(0, 0, 0, 0.45);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#a-propos {
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(45deg, #F88B6A 35%, rgba(0, 0, 0, 0.4) 35%, rgba(0, 0, 0, 0.9) 100%), url("../images/fond1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding: 2rem 0;
  border-top: 2px solid #F88B6A;
  border-bottom: 2px solid #F88B6A;
}

@media screen and (max-width: 1023px) {
  #a-propos {
    min-height: 50vh;
  }
}

@media (orientation: portrait) {
  #a-propos {
    min-height: 50vh;
  }
}

#a-propos .a-propos__titre h2 {
  color: #FFFFFF;
}

#a-propos .a-propos__titre h2:after {
  content: 'A PROPOS';
  z-index: -1;
  position: absolute;
  font-size: 6rem;
  height: 5rem;
  top: -1rem;
  width: 50%;
  left: 50%;
  text-align: left;
  color: #5f5f5f;
}

@media screen and (max-width: 1023px) {
  #a-propos .a-propos__titre h2:after {
    font-size: 5rem;
  }
}

@media (orientation: portrait) {
  #a-propos .a-propos__titre h2:after {
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #a-propos .a-propos__titre h2:after {
    font-size: 4rem;
    top: -0.75rem;
  }
}

#a-propos .a-propos__titre p {
  color: #F3F3F3;
}

#a-propos .conteneur-a-propos {
  padding: 5rem 10% 2rem 10%;
  position: relative;
  color: #3B3B3B;
  z-index: 2;
}

#a-propos .conteneur-a-propos .a-propos__item__1 {
  position: relative;
  background: #F3F3F3;
  padding: 2rem 4rem 2rem 2rem;
  width: 60%;
  margin: 0 0 0 20%;
  -webkit-box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
}

#a-propos .conteneur-a-propos .a-propos__item__1 a {
  color: #3B3B3B;
}

@media screen and (max-width: 1440px) {
  #a-propos .conteneur-a-propos .a-propos__item__1 {
    width: 70%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #a-propos .conteneur-a-propos .a-propos__item__1 {
    width: 90%;
    margin: 2rem 0 0 10%;
    padding: 5rem 1rem 2rem 1rem;
  }
}

#a-propos .conteneur-a-propos .a-propos__item__1:after {
  position: absolute;
  content: '';
  top: 5%;
  height: 100%;
  right: -5%;
  width: 100%;
  border: 3px solid #F88B6A;
  z-index: -2;
}

#a-propos .conteneur-a-propos .a-propos__item__1 .a-propos__image {
  position: absolute;
  top: -6rem;
  right: -6rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #a-propos .conteneur-a-propos .a-propos__item__1 .a-propos__image {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

#a-propos .conteneur-a-propos .a-propos__item__1 .a-propos__texte {
  margin: 0;
  padding: 0 0 0 0;
  text-align: justify;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone {
  position: absolute;
  right: 20%;
  top: -3rem;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1A2D2E), to(#000000));
  background: linear-gradient(180deg, #1A2D2E, #000000);
  z-index: -1;
  -webkit-box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #a-propos .conteneur-a-propos .a-propos__conteneur-icone {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10% 0;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #a-propos .conteneur-a-propos .a-propos__conteneur-icone ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone {
    margin-top: 2rem;
  }
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone a {
  font-size: 1.5rem;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--github {
  border: 1px solid #d8d8d8;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--github a {
  color: #d8d8d8;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--github:hover {
  background: #F3F3F3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--github:hover a {
  color: #24292F;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--linkedin {
  border: 1px solid #0A66C2;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--linkedin a {
  color: #0A66C2;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--linkedin:hover {
  background: #0A66C2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--linkedin:hover a {
  color: #FFFFFF;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--cv {
  border: 1px solid #F88B6A;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--cv a {
  color: #F88B6A;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--cv:hover {
  background: #F88B6A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#a-propos .conteneur-a-propos .a-propos__conteneur-icone ul .a-propos__icone--cv:hover a {
  color: #FFFFFF;
}

#contact {
  min-height: 100vh;
  padding: 2rem 0 0 0;
}

#contact h2:after {
  content: 'CONTACT';
  z-index: -1;
  position: absolute;
  font-size: 6rem;
  height: 5rem;
  top: -1rem;
  width: 50%;
  left: 50%;
  text-align: left;
  color: #F3F3F3;
}

@media screen and (max-width: 1023px) {
  #contact h2:after {
    font-size: 5rem;
  }
}

@media (orientation: portrait) {
  #contact h2:after {
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #contact h2:after {
    font-size: 4rem;
    top: -0.75rem;
  }
}

#contact .conteneur-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 4rem 10%;
}

@media screen and (max-width: 1440px) {
  #contact .conteneur-contact {
    padding: 4rem 2%;
  }
}

#contact .contact-bloc {
  color: #FFFFFF;
}

#contact .contact-bloc__intro {
  color: #5f5f5f;
  font-size: 1.2rem;
  padding: 3rem 10% 0 10%;
  text-align: center;
}

#contact .contact-bloc__item {
  padding: 1rem 1rem 1rem 2.5rem;
  position: relative;
  -webkit-box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1440px) {
  #contact .contact-bloc__item {
    padding: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  #contact .contact-bloc__item {
    width: 45%;
  }
}

@media (orientation: portrait) {
  #contact .contact-bloc__item {
    width: 45%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #contact .contact-bloc__item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

#contact .contact-bloc__item:nth-child(n+2) {
  margin-top: 2.5rem;
}

@media screen and (max-width: 1023px) {
  #contact .contact-bloc__item:nth-child(n+2) {
    margin-top: 0;
  }
}

@media (orientation: portrait) {
  #contact .contact-bloc__item:nth-child(n+2) {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #contact .contact-bloc__item:nth-child(n+2) {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 1023px) {
  #contact .contact-bloc__item:nth-child(n+3) {
    margin-top: 2rem;
  }
}

@media (orientation: portrait) {
  #contact .contact-bloc__item:nth-child(n+3) {
    margin-top: 2rem;
  }
}

#contact .contact-bloc a {
  text-decoration: none;
  color: #FFFFFF;
}

#contact .contact-bloc .contact-bloc__item p:first-child {
  position: relative;
  color: #d8d8d8;
  font-style: italic;
  margin-bottom: 0.5rem;
}

#contact .contact-bloc p {
  margin: 0;
}

#contact .contact-bloc--info {
  width: 24%;
}

@media screen and (max-width: 1023px) {
  #contact .contact-bloc--info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (orientation: portrait) {
  #contact .contact-bloc--info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#contact .contact-bloc--form {
  width: 70%;
}

@media screen and (max-width: 1023px) {
  #contact .contact-bloc--form {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (orientation: portrait) {
  #contact .contact-bloc--form {
    width: 100%;
    margin-top: 2rem;
  }
}

.contact-bloc__item--1:before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: 'Font Awesome 5 Free';
  font-size: 1.2rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1A2D2E;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  background: #FFFFFF;
  content: "\f041";
}

.contact-bloc__item--2:before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: 'Font Awesome 5 Free';
  font-size: 1.2rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1A2D2E;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  background: #FFFFFF;
  content: "\f2b6";
}

.contact-bloc__item--3:before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: 'Font Awesome 5 Free';
  font-size: 1.2rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1A2D2E;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  background: #FFFFFF;
  content: "\f879";
}

.contact-bloc__item--4:before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: 'Font Awesome 5 Free';
  font-size: 1.2rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1A2D2E;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  background: #FFFFFF;
  content: "\f017";
}

.contact-bloc__item--5:before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: 'Font Awesome 5 Free';
  font-size: 1.2rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1A2D2E;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  background: #FFFFFF;
  content: "\f24e";
}

.contact-bloc__item--1 {
  background: #233d3e;
}

.contact-bloc__item--2 {
  background: #2c4d4f;
}

.contact-bloc__item--3 {
  background: #365d5f;
}

.contact-bloc__item--4 {
  background: #3f6d6f;
}

.contact-bloc__item--5 {
  background: #487d7f;
}

.contact-bloc__item--1:before {
  color: #233d3e;
}

.contact-bloc__item--2:before {
  color: #2c4d4f;
}

.contact-bloc__item--3:before {
  color: #365d5f;
}

.contact-bloc__item--4:before {
  color: #3f6d6f;
}

.contact-bloc__item--5:before {
  color: #487d7f;
}

.contact-form fieldset {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 2rem 1rem;
  -webkit-box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
}

.contact-form fieldset legend {
  margin-left: 2rem;
  padding: 0 1rem;
  font-style: italic;
  border: 1px solid #5f5f5f;
  background: #FFFFFF;
  border-radius: 1rem;
}

.contact-form fieldset input {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.2rem;
}

.contact-form fieldset textarea {
  margin-top: 0.5rem;
  resize: vertical;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
}

.contact-form fieldset button {
  width: 50%;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 0;
  background: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  color: #1A2D2E;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #1A2D2E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-form fieldset button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFFFFF;
  background: #1A2D2E;
}

footer {
  color: #a7a7a7;
}

footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111d1e;
  padding: 0.5rem 10%;
}

footer .footer__top__icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__top__icones li {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-left: 1rem;
}

footer .footer__top__icones li a {
  font-size: 1.5rem;
}

footer .footer__top__icones--github {
  border: 1px solid #FFFFFF;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__top__icones--github a {
  color: #FFFFFF;
}

footer .footer__top__icones--github:hover {
  background: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__top__icones--github:hover a {
  color: #24292F;
}

footer .footer__top__icones--linkedin {
  border: 1px solid #0A66C2;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__top__icones--linkedin a {
  color: #0A66C2;
}

footer .footer__top__icones--linkedin:hover {
  background: #0A66C2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__top__icones--linkedin:hover a {
  color: #FFFFFF;
}

footer .footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #000000;
  padding: 1rem 0;
}

@media screen and (max-width: 1023px) {
  footer .footer__middle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (orientation: portrait) {
  footer .footer__middle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1023px) {
  footer .footer__middle__item {
    padding-top: 2rem;
  }
}

@media (orientation: portrait) {
  footer .footer__middle__item {
    padding-top: 2rem;
  }
}

footer .footer__middle__item__logo img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  footer .footer__middle__item__logo img {
    width: 30%;
  }
}

@media (orientation: portrait) {
  footer .footer__middle__item__logo img {
    width: 30%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  footer .footer__middle__item__logo img {
    width: 60%;
  }
}

footer .footer__middle__item--col1 {
  width: 25%;
}

@media screen and (max-width: 1440px) {
  footer .footer__middle__item--col1 {
    width: 40%;
  }
}

@media screen and (max-width: 1023px) {
  footer .footer__middle__item--col1 {
    width: 80%;
  }
}

@media (orientation: portrait) {
  footer .footer__middle__item--col1 {
    width: 80%;
  }
}

@media screen and (max-width: 1023px) {
  footer .footer__middle__item--col1 {
    width: 100%;
    padding-left: 1rem;
  }
}

@media (orientation: portrait) {
  footer .footer__middle__item--col1 {
    width: 100%;
    padding-left: 1rem;
  }
}

footer .footer__middle__item--col1 .col1-texte {
  padding-top: 1rem;
}

footer .footer__middle__item--col2 {
  padding-left: 5%;
  width: 25%;
}

@media screen and (max-width: 1023px) {
  footer .footer__middle__item--col2 {
    padding-left: 0;
    width: 45%;
  }
}

@media (orientation: portrait) {
  footer .footer__middle__item--col2 {
    padding-left: 0;
    width: 45%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  footer .footer__middle__item--col2 {
    width: 100%;
    padding-left: 3rem;
  }
}

footer .footer__middle__item--col2 .col2-item {
  padding-top: 0.2rem;
}

footer .footer__middle__item--col2 .col2-item a {
  color: #a7a7a7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__middle__item--col2 .col2-item a:hover {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__middle__item--col2 .col2-item--mentions {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__middle__item--col2 .col2-item--mentions:hover {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__middle__item--col3 {
  width: 25%;
}

@media screen and (max-width: 1023px) {
  footer .footer__middle__item--col3 {
    width: 45%;
  }
}

@media (orientation: portrait) {
  footer .footer__middle__item--col3 {
    width: 45%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  footer .footer__middle__item--col3 {
    width: 100%;
    padding-left: 3rem;
  }
}

footer .footer__middle__item--col3 .col3-item {
  padding-top: 0.5rem;
  color: #a7a7a7;
  position: relative;
}

footer .footer__middle__item--col3 .col3-item a {
  color: #a7a7a7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__middle__item--col3 .col3-item a:hover {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__middle__item--col3 .col3-item--adresse:before {
  position: absolute;
  left: -2rem;
  top: 0.5rem;
  color: #a7a7a7;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.2rem;
  content: "\f041";
}

footer .footer__middle__item--col3 .col3-item--tel:before {
  position: absolute;
  left: -2rem;
  top: 0.5rem;
  color: #a7a7a7;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.2rem;
  content: "\f879";
}

footer .footer__middle__item--col3 .col3-item--email:before {
  position: absolute;
  left: -2rem;
  top: 0.5rem;
  color: #a7a7a7;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.2rem;
  content: "\f0e0";
}

footer .footer__middle__item .footer-titre {
  font-size: 1.2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

footer .footer__bottom {
  text-align: center;
  background: #111d1e;
  padding: 0.5rem 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .modal {
    padding: 2rem 0;
  }
}

.modal-content {
  background-color: #F3F3F3;
  margin: auto;
  padding: 2rem;
  border: 1px solid #000000;
  width: 50%;
  color: #3B3B3B;
}

@media screen and (max-width: 1023px) {
  .modal-content {
    width: 90%;
  }
}

@media (orientation: portrait) {
  .modal-content {
    width: 90%;
  }
}

.modal-content--titre {
  padding-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.modal-close {
  color: #3B3B3B;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */