#a-propos{
    min-height: 100vh;
    background-image: linear-gradient(rgba($white, 0.7), rgba($white-casse, 1)),
    url("../images/fond_homeHD.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 10%;
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    & h2:after{
        content: 'A PROPOS';
        z-index: -1;
        @include h2-after;
    }
    .conteneur-a-propos {
        width: 60%;
        margin: 0 auto;
        padding: 2rem;
        position: relative;
        //background: #ffffff;
        color: $grey3;
        border-top: 3px solid $tercary-color;
        border-bottom: 3px solid $tercary-color;

    }
}

.a-propos__image {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin-right: 4rem;
    //filter: grayscale(30%);
}

.a-propos__texte {
    margin: 0;
    padding: 0 0 0 0;
    text-align: justify;
    
}