#contact{
    min-height: 100vh;
    & h2:after{
        content: 'CONTACT';
        z-index: -1;
        @include h2-after;
    }
    .conteneur-contact {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 2rem 10%;
    }
    .contact-bloc {
        width: 45%;
    }
}