#contact{
    min-height: 100vh;
    padding: 2rem 0 0 0;
    & h2:after{
        content: 'CONTACT';
        z-index: -1;
        @include h2-after;
        color: $white-casse;
    }
    .conteneur-contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        padding: 4rem 10%;
    }
    .contact-bloc {
        color: $white;
        &__intro {
            color: $grey;
            font-size: 1.2rem;
            padding: 3rem 10% 0 10%;
            text-align: center;
        }
        &__item {
            //background: $primary-color;
            padding: 1rem 1rem 1rem 2.5rem;
            //border-radius: 1rem;
            //border: 1px solid $white;
            position: relative;
            box-shadow: $ombre1;
            @include responsive(tab-port){
                width: 45%;
            }
        }
        &__item:nth-child(n+2){
            margin-top: 2.5rem;
            @include responsive(tab-port){
                margin-top: 0;
            }
        }
        @include responsive(tab-port){
            &__item:nth-child(n+3){
                margin-top: 2rem;
            }
        }
        & a{
            text-decoration: none;
            color: $white;
        }
        & .contact-bloc__item p:first-child {
            position: relative;
            color: $light-grey2;
            font-style: italic;
            margin-bottom: 0.5rem;
        }
        & p {
            margin: 0;
        }
        &--info {
            width: 24%;
            //border-right: 1px solid $light-grey2;
            //padding-right: 2rem;
            @include responsive(tab-port){
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
            
        }
        &--form {
            width: 70%;
            @include responsive(tab-port){
                width: 100%;
                margin-top: 2rem;
            }
        }
    }
}

.contact-bloc__item--1:before {
    @include icone-before;
    content: "\f041";
}

.contact-bloc__item--2:before {
    @include icone-before;
    content: "\f2b6";
}
.contact-bloc__item--3:before {
    @include icone-before;
    content: "\f879";
}
.contact-bloc__item--4:before {
    @include icone-before;
    content: "\f017";
}
.contact-bloc__item--5:before {
    @include icone-before;
    content: "\f24e";
}

@for $i from 1 through 5 {
    .contact-bloc__item--#{$i}  {
      background: lighten($primary-color, $i * 5%);
     
    }
}
@for $i from 1 through 5 {
    .contact-bloc__item--#{$i}:before {
      color: lighten($primary-color, $i * 5%);
    }
}


.contact-form fieldset {
    color: $black;
    //background: $white-casse;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 2rem 1rem;
    box-shadow: $ombre1;
    & legend {
        margin-left: 2rem;
        padding: 0 1rem;
        font-style: italic;
        border: 1px solid $grey2;
        background: $white;
        border-radius: 1rem;
    }
    & input {
        margin: 0.5rem 0 1rem 0;
        font-size: 1.2rem;
    }
    & textarea {
        margin-top: 0.5rem;
        resize: vertical;
    }
    & button {
        width: 50%;
        margin: 1rem auto 0 auto;
        padding: 0.5rem 0;
        background: $white;
        cursor: pointer;
        text-transform: uppercase;
        color: $primary-color;
        font-size: 1.1rem;
        font-weight: bold;
        border: 1px solid $primary-color;
        transition: 0.3s;
        &:hover {
            transition: 0.3s;
            color: $white;
            background: $primary-color;
        }
    }
}