header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: 1s;
    overflow: hidden;
    
}
header.scroll {
      box-shadow: 0px 5px 8px $black-transparent;
    & .header__top {
        opacity: 0;
        padding: 0 5rem;
        height: 0;
        transition: all 1s;
        & ul {
            display: none;
        }
    }
    & nav {
        background: $white;
        transition: 1s;
        & img {
            opacity: 1;
            transform: translateY(-50%);
            transition: 1s;
        }
        & li a {
            color: $grey;
        }
        & li.active{
            border-bottom: 6px solid $primary-color;
            & a {
                color: $primary-color;
                
                //background-color: $primary-color;
            }
        }
        & li.active:hover a {
            color: $primary-color;
        }
        & li:hover a {
            color: $primary-color;
            transition: 0.3s;
        }
    }
    
}
.header__top{
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 5rem;
    transition: all 1s;
    background: $primary-color;
    & .header__top__coordonnee {
        display: flex;
        margin: 0;
        opacity: 1;
        transition: 1s;
        color: $light-grey2;
        & li:nth-child(n+2){
            padding-left: 2rem;
            margin-left: 2rem;
        }
        & li:nth-child(1n+2){
            border-left: 1px solid $light-grey;
        }
        & li a {
            color: $white;
            transition: 0.3s;
        }
        & li:hover a {
            color: $secondary-color;
            transition: 0.3s;
        }
    }
    & .header__top__icones {
        display: block;
        @include liste-inline;
        opacity: 1;
        transition: 1s;
        & li a{
            color: $white;
            padding: 0 0.5rem;
            transition: 0.3s;
        }
        & li:hover a {
            color: $secondary-color;
            transition: 0.3s;
        }
        & li:first-child{
            //border: 1px solid $white;
            //margin-right: 2rem;
            & a {
                padding: 0 0.1rem;
            }
        }
    }
}

nav {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    @include font-title2;
    transition: all 1s;
    position: relative;
    background: rgba($white, 0.3);
    & img {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-200%);
        height: 80%;
        opacity: 0;
        transition: 1s;
    }
    & ul {
        
        display: flex;
        justify-content: center;
        transition: 1s;
        & li:hover a {
                color: $primary-color;
                transition: 0.3s;
            }
        & li.active{
            position: relative;
            & a {
                color: $primary-color;
                //text-shadow: 0px -3px 10px $black;
            }
        }
        & li {
            margin: 0;
            white-space: nowrap;
            
            text-transform: uppercase;
            transition: 1s;
            border-bottom: 6px solid transparent;
            & a {
                display: block;
                padding: 1rem 2rem 1rem 2rem;
                color: $light-grey2;
                transition: 0.3s;
                height: 100%;
                width: 100%;
            }
        }
    }
}

#home{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6rem 0 4rem 0;

    & #home-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba($black, 0.5), rgba($white, 0.4)),
                  url("../images/fond5.jpg");
        background-position: 50% 50%;
        background-size: 200%;
        animation: back-rotation 30s linear infinite;
    }
    & .home__bloc {
        height: 100%;
        width: 80%;
        position: relative;
    }
    & .home__bloc__row {
        display: flex;
        justify-content: space-between;
        height: 15%;
        & div {
            width: 30%;
            height: 100%;
        }
        &__left {
            border-bottom: 1px solid $primary-color;
        }
        &__right {
            border-bottom: 1px solid $primary-color;
        }
        &__center {
            position: relative;
            & img {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 60%;
            }
        }
    }
    & .home__bloc__row2 {
        height: 85%;
        border-bottom: 1px solid $primary-color;
        border-right: 1px solid $primary-color;
        border-left: 1px solid $primary-color;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h1 {
            margin: 0;
            padding: 0;
            text-align: center;
            color: gray;
            & span {
                font-size: 4rem;
                color: $primary-color;
                @include font-title2;
            }
            & a {
                color: $grey2;
            }
        }
        &__icones {
            position: absolute;
            top: 1rem;
            right: 1rem;
            & li {
                width: 3rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                & a {
                    font-size: 1.5rem;
                }
            }
            & li:nth-child(2) {
                margin-top: 1rem;
            }
            &__github {
                border: 1px solid $github-color;
                background: transparent;
                transition: 0.3s;
                & a {
                    color: $github-color;
                }
                &:hover {
                    background: $github-color;
                    transition: 0.3s;
                    & a {
                        color: $white;
                    }
                }
            }
            &__linkedin {
                border: 1px solid $linkedin-color;
                background: transparent;
                transition: 0.3s;
                & a {
                    color: $linkedin-color;
                }
                &:hover {
                    background: $linkedin-color;
                    transition: 0.3s;
                    & a {
                        color: $white;
                    }
                }
            }
        }
    }
    
    & .home__bloc__chevron {
        position: absolute;
        bottom: 2rem;
        left: calc(50% - 1.5rem);
        width: 3rem;
        height: 3rem;
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        & i {
            display: block;
        }
        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
            background: $primary-color;
            color: $white;
        }
    }
}

@keyframes back-rotation {
    0% {
        background-position: 50% 40%;
    }
    25% {
        background-position: 60% 50%;
    }
    50% {
        background-position: 50% 60%;
    }
    75% {
        background-position: 40% 50%;
    }
    100% {
        background-position: 50% 40%;
    }
}