header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: 1s;
    overflow: hidden;
    
}
header.scroll {
    background: $white;
    transition: 1s;
    //border-bottom: 1px solid $black;
    //border-radius: 0 0 100% 100%;
    //box-shadow: 0px 3px 10px $black-transparent;
    
    & .header__top {
        height: 0;
        padding: 0;
        transition: 1s;
        & p, ul, li {
            opacity: 0;
            display: none;
            transition: 0.3s;
        }
    }
    
    & nav {
        font-size: 1.6rem;
        transition: all 1s;
        & li {
            padding: 0.5rem 2rem 0.5rem 2rem;
            transition: 0.3s;
            border-top: 4px solid transparent;
        }
        & a.active{
            & li {
                color: $tercary-color;
                border-top: 4px solid $tercary-color;
            }
        }
        & a:hover li {
            color: $tercary-color;
            transition: 0.3s;
        }
    }
    
}
.header__top{
    display: block;
    padding: 0.5rem 0;
    height: 1rem;
    transition: 1s;
    //background-color: darken($tercary-color, 5%);
    background: $tercary-color;
    
    & .header__top__coordonnee {
        display: flex;
        float: left;
        margin: 0;
        opacity: 1;
        transition: 0.3s;
        color: $light-grey2;
        & li:nth-child(n+2){
            padding-left: 1rem;
            margin-left: 1rem;
        }
        & li:nth-child(n+3){
            border-left: 1px solid $light-grey2;
        }
    }
    & .header__top__icones {
        display: block;
        float: right;
        @include liste-inline;
        opacity: 1;
        transition: 0.3s;
        & li {
            color: $light-grey2;
            padding-left: 1rem
        }
    }
    @include w100;
}

nav {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    @include font-title2;
    transition: all 1s;
    & ul {
        @include liste-inline;
        justify-content: center;

        & a:hover li {
                color: $tercary-color;
                transition: 0.3s;
            }

        & a.active{
            position: relative;
            & li {
                color: $tercary-color;
                //text-shadow: 0px -3px 10px $black;
            }
        }
        & li {
            color: $light-grey;
            padding: 0.5rem 2rem 1rem 2rem;
            text-transform: uppercase;
        }
    }
    @include w100;
}

#home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba($white, 0.1), rgba($white-casse, 1)),
                  url("../images/fond5.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 6rem 0 4rem 0;
    & .home__bloc {
        height: 100%;
        width: 80%;
        position: relative;
    }
    & .home__bloc__row {
        display: flex;
        justify-content: space-between;
        height: 15%;
        & div {
            width: 30%;
            height: 100%;
        }
        &__left {
            border-bottom: 1px solid $tercary-color;
        }
        &__right {
            border-bottom: 1px solid $tercary-color;
        }
    }
    & .home__bloc__row2 {
        height: 85%;
        border-bottom: 1px solid $tercary-color;
        border-right: 1px solid $tercary-color;
        border-left: 1px solid $tercary-color;
    }
    & .home__bloc__chevron {
        position: absolute;
        bottom: 2rem;
        left: calc(50% - 1.5rem);
        width: 3rem;
        height: 3rem;
        color: $tercary-color;
        border: 1px solid $tercary-color;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        & i {
            display: block;
        }
        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
            background: lighten($primary-color, 5%);
            color: $white;
        }
    }
}