#services{
    min-height: 100vh;
    padding: 1rem 0;
    margin: 0;
    background: rgba(#ffffff, $alpha: 0.5);    
    background-size: cover;
    position: relative;
    overflow: hidden;
    & h2:after{
        @include h2-after;
        content: 'MES SERVICES';
        z-index: -5;
    }
}

.conteneur-carte-service{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem 10% 0 10%;
    border: 1px solid $black;
    overflow: hidden;
    background: rgba($white-casse, $alpha: 0.3);
    backdrop-filter: blur(3px);
    &__2 {
        padding-bottom: 2rem;
    }
    & h3 {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 0 0 1rem 0;
        &:after{
            content: '';
            position: absolute;
            bottom: -0.8rem;
            left: 50%;
            width: 10%;
            height: 0.3rem;
            transform: translateX(-50%);
            background: $tercary-color;
        }
    }
}
.carte-service{
    width: 25%;
    min-height: 20rem;
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
    margin-top: 2rem;
    box-shadow: 3px 3px 10px $light-grey;
    background: $white;
    transition: 0.3s;
    overflow: hidden;
    transform: translateY(30px);
    opacity: 0;
    
    &__icone {
        height: 8rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        & img {
           height: 100%;
        }
    }
    & h4 {
        text-align: center;
        color: $black;
        font-size: 1.5rem;
        padding: 0.5rem 0;
        @include font-title2;
        border-top: 2px solid $tercary-color;
        border-bottom: 2px solid $tercary-color;
    }
    & ul {
        color: $grey2;
        
        padding: 0 1rem;
        & li {
            list-style: square;
        }
    }
    &__hover{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2.5rem;
        width: 100%;
        background: linear-gradient($primary-color, darken($primary-color, 15%));
        transition: 0.4s;
        z-index: 2;
        border-radius: 50% 50% 0 0;
        text-align: center;
        &__chevron {
            padding: 0.8rem 0;
            color: $white;
        }
        &__titre {
            color: $white;
            padding: 0 1rem 1rem 1rem;
        }
        &__description {
            color: $light-grey2;
            padding: 0 1rem;
        }
    }
    & .carte-service__hover:hover {
        height: 100%;
        transition: 0.4s;
        border-radius: 0;
        
        & .carte-service__hover__chevron {
            display: none;
            transition: 0.3s;
        }
        & .carte-service__hover__titre {
            padding: 0 1rem 1rem 1rem;
            border-bottom: 1px solid $white;
        }
        & .carte-service__hover__description {
            padding: 0 1rem;
        }
    }
    &:hover{
        box-shadow: 5px 5px 10px $grey;
        transform: scale(1.02);
        //border: 3px solid darken($tercary-color, 5%);
        transition: 0.3s;
    }
}
// Style bannière responsive design
.appear {
    transform: translateY(0);
    transition: 1s;
    opacity: 1;
}
#responsive{
    margin: 2rem 0 0 0;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    background: linear-gradient(55deg, $grey 3%, $black 50%, $white 70%, $light-grey2 80%);
    & .responsive__left {
        width: 60%;
        transform: translateX(-100px);
        opacity: 0;
        & h3 {
            @include font-title;
            font-size: 3rem;
            text-transform: uppercase;
            margin: 0;
            color: $light-grey2;
            text-decoration: underline;
            letter-spacing: 3px;
            padding: 2rem 0 3rem 0;
            color: $white;
        }
        & p {
            color: $light-grey2;
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
            & span {
                color: white;
            }
        }
    }
    & img {
        height: 300px;
        display: block;
        margin: 0 auto;
        transform: translateX(100px);
        opacity: 0;
    }
}
.appear2 {
    transform: translateX(0) !important;
    opacity: 1 !important;
    transition: 1s !important;
}
// Animation square dans conteneur-service
.bg-bubbles{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	li{
		position: absolute;
		list-style: none;
		display: block;
		width: 40px;
		height: 40px;
		background-color: lighten($light-grey, 25%);
		bottom: -160px;
		
		-webkit-animation: square 25s infinite;
		animation:         square 25s infinite;
		
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		
		&:nth-child(1){
			left: 10%;
		}
		
		&:nth-child(2){
			left: 20%;
			
			width: 80px;
			height: 80px;
			
			animation-delay: 2s;
			animation-duration: 17s;
		}
		
		&:nth-child(3){
			left: 25%;
			animation-delay: 4s;
		}
		
		&:nth-child(4){
			left: 40%;
			width: 60px;
			height: 60px;
			
			animation-duration: 22s;
			
			background-color: darken($primary-color, 10%);
		}
		
		&:nth-child(5){
			left: 70%;
		}
		
		&:nth-child(6){
			left: 80%;
			width: 120px;
			height: 120px;
			
			animation-delay: 3s;
			background-color: lighten($primary-color, 5%);
		}
		
		&:nth-child(7){
			left: 32%;
			width: 160px;
			height: 160px;
			
			animation-delay: 7s;
		}
		
		&:nth-child(8){
			left: 55%;
			width: 20px;
			height: 20px;
			
			animation-delay: 15s;
			animation-duration: 40s;
		}
		
		&:nth-child(9){
			left: 25%;
			width: 10px;
			height: 10px;
			
			animation-delay: 2s;
			animation-duration: 40s;
			background-color: fade(white, 30%);
		}
		
		&:nth-child(10){
			left: 90%;
			width: 160px;
			height: 160px;
			
			animation-delay: 11s;
		}
	}
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-3000px)  scale(1.2) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-3000px) scale(1.5) rotate(600deg); }
}
