#tarifs{
    min-height: 100vh;
    padding: 2rem 0;
    background: $white-casse;
    & h2:after{
        @include h2-after;
        content: 'TARIFS';
        z-index: -1;
        color: $light-grey2;
    }
    @include responsive(phone){
        padding: 2rem 3%;
    }
}
.conteneur-carte-tarif {
    display: flex;
    margin: 0 8% 0 8%;
    justify-content: space-around;
    align-items: flex-start;
    @include responsive(tab-port){
        margin:0;
    }
    @include responsive(phone){
        justify-content: center;
        flex-wrap: wrap;
    }
}
.carte-tarif{
    width: 26%;
    text-align: center;
    box-shadow: $ombre1;
    @include responsive(laptop){
        width: 31%;
    }
    @include responsive(phone){
        width: 90%;
        margin-top: 1rem;
    }
    &--1 {
        background: $primary-color;
        //border: 1px solid $primary-color;
        & .carte-tarif__liste li:nth-child(2n) {
            background: lighten($primary-color, 5%);
            color: $light-grey2;
        }
    }
    &--2 {
        background: $tercary-color;
        //border: 1px solid $tercary-color;
        & .carte-tarif__liste li:nth-child(2n) {
            background: lighten($tercary-color, 5%);
            color: $light-grey2;
        }
    }
    &--3 {
        background: $secondary-color;
        //border: 1px solid $secondary-color;
        & .carte-tarif__liste li {
            color: $white-casse;
        }
        & .carte-tarif__liste li:nth-child(2n+1) {
            background: darken($secondary-color, 5%);
            color: $light-grey2;
        }
    }
    & h3 {
        position: relative;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem 2rem;
        color: $white;
        @include responsive(laptop){
            padding: 1rem 1rem;
            font-size: 1.6rem;
        }
        @include responsive(tab-port){
            font-size: 1.5rem;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: -0.6rem;
            left: 50%;
            width: 40%;
            height: 0.3rem;
            transform: translateX(-50%);
            background: $light-grey2;
        }
    }
    & .carte-tarif__apd {
        color: $light-grey2;
        margin: 2rem 0 0 0;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    & .carte-tarif__prix {
        position: relative;
        font-size: 4rem;
        font-weight: bolder;
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        color: $white;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 20%;
            height: 0.3rem;
            transform: translateX(-50%);
            background: $light-grey2;
        }

    }
    &__liste {
        padding: 0;
        & li {
            padding: 0.5rem 2rem;
            color: $light-grey;
        }
    }
    &__bouton {
        display: block;
        text-transform: uppercase;
        padding: 1rem 2rem;
        color: $white-casse;
        transition: 0.3s;
        font-size: 1.1rem;
        &:hover {
            color: $white;
            transition: 0.3s;
        }
        &--1:hover {
            background-color: darken($primary-color, 5%);
        }
        &--2:hover {
            background-color: darken($tercary-color, 5%);
        }
        &--3:hover {
            background-color: darken($secondary-color, 10%);
        }
    }
}
.tarifs__texte--petit {
    color: $light-grey;
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem 0 2rem 0;
}
.tarif__contact {
    display: block;
    width: 80%;
    padding: 1rem 3rem;
    background: $tercary-color;
    text-align: center;
    color: $white;
    border: 3px solid $tercary-color;
    font-size: 1.5rem;
    margin: 2rem auto;
    text-transform: uppercase;
    box-shadow: $ombre1;
    transition: 0.3s;
    @include responsive(tab-port){
        font-size: 1.2rem;
    }
    @include responsive(phone){
        width: 100%;
        padding: 0.5rem 1rem;
    }
    &:hover {
        background: darken($tercary-color, 3%);
        box-shadow: $ombre2;
        transition: 0.3s;
    }
}