// Marges et Paddings


// listes inlines sur les ul
@mixin liste-inline {
    padding: 0;
    display: flex;
}

// backgrounds


// Bordures
@mixin bordure {
    border: 1px solid $black;
};

// Fonts
@mixin font-title {
    font-family: 'Audiowide', cursive;
};
@mixin font-title2 {
    font-family: 'Homenaje', sans-serif;
};
// h2:after
@mixin h2-after {
    position: absolute;
        font-size: 6rem;
        height: 6rem;
        top: -1.5rem;
        width: 100%;
        left: 0;
        color: lighten($primary-color, 35%);
        text-align: left;
        padding-left: 50%;
}
