// Colors :

$white: #FFFFFF;
$white-casse: #F3F3F3;
$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.9);
$orange: #F88B6A;
$grey: #868686;
$grey2: #5f5f5f;
$grey3: #494949;

$light-grey: #a7a7a7;
$light-grey2: #d8d8d8;

$primary-color: #1A2D2E;
$secondary-color: #F88B6A;
$tercary-color: #006446;

// logo #00631F #69AB46 #038C72
$color3: #00631F;
$color2: #038C72;
$color1: #69AB46;

$linkedin-color: #0A66C2;
$github-color: #24292F;


$transition-time: 0.3s;
$ombre1: 0.3rem  0.4rem  0.5rem rgba($black, 0.4);
$ombre2: 0.4rem  0.5rem  0.6rem rgba($black, 0.45);