*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
section {
    overflow: hidden;
}
#bloc-page {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    position: relative;
    & ul {
        list-style: none;
    }
}

.titre-section {
    & h2 {
        text-align: center;
        font-size: 3rem;
        @include font-title2;
        text-transform: uppercase;
        margin: 1rem 0 0 0;
        position: relative;
        z-index: 1;
        @include responsive(phone){
            font-size: 2.5rem;
        }
    }
    & p {
        text-align: center;
        color: $grey2;
        font-size: 1.6rem;
        margin-top: 4rem;
    }
}